<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="profile">
        <img src="assets/images/profile-photo.jpeg" alt="">
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="title">
        <h1>Ivonne Nabangala</h1>
        <h2>Software Developer</h2>
      </div>
      <div class="social-links">
        <a href="mailto:ivonnenabangala@gmail.com" target="_blank">
          <mat-icon>
            <img src="/assets/icons/gmail.svg" alt="Email" matTooltip="Email">
          </mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/ivonne-nabangala/" target="_blank">
          <mat-icon>
            <img src="/assets/icons/linkedin.svg" alt="Email" matTooltip="LinkedIn">
          </mat-icon>
        </a>
        <a href="https://github.com/ivonnenabangala" target="_blank">
          <mat-icon>
            <img src="/assets/icons/github-light.svg" alt="Email" matTooltip="Github">
          </mat-icon>
        </a>
        <a href="https://x.com/I_nabangala" target="_blank">
          <mat-icon>
            <img src="/assets/icons/x-light.svg" alt="Email" matTooltip="X">
          </mat-icon>
        </a>
      </div>
    </div>
  </div>
</main>

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>
          I am a passionate software developer driven by a career objective of developing secure,
          efficient, presentable, and user-friendly software using reliable technologies.
          I embrace continuous learning, and writing clean and maintainable code.
          I have skills in developing applications using the listed programming languages and technologies.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col">
            <a href="https://drive.google.com/uc?export=download&id=1VH_1pFvntlCk-c32GDuiCu3zknaJttiF" target="_blank"
              download>
              <button mat-raised-button style="height: 60px;">Download CV</button>
            </a>
          </div>
          <div class="col">
            <a href="https://drive.google.com/uc?export=download&id=1P7xePbkN22-pLJmlsIZNJ1qiMf9aN1y2" target="_blank"
              download>
              <button mat-raised-button style="height: 60px;">Download Resume</button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<div class="container body">
  <mat-tab-group class="tabs">
    <mat-tab label="Languages & Frameworks">
        <h1>Languages & Frameworks</h1>
        <div class="pill-group">
          @for (item of languages; track item.name) {
          <div class="row mb-2">
            <div class="col-lg">
              <button mat-raised-button style="height: 60px;">
                <img
                  matChipAvatar
                  [src]="'/assets/icons/' + item.icon + '.svg'"
                  alt="icon"
                  style="width: 40px; height: auto;"
                />
                {{ item.name }}
              </button>
            </div>
          </div>
          }
        </div>
    </mat-tab>
  
    <mat-tab label="Databases">
        <h1>Databases</h1>
        <div class="pill-group">
          @for (item of databases; track item.name) {
          <div class="row mb-2">
            <div class="col-lg">
              <button mat-raised-button style="height: 60px;">
                <img
                  matChipAvatar
                  [src]="'/assets/icons/' + item.icon + '.svg'"
                  alt="icon"
                  style="width: 40px; height: auto;"
                />
                {{ item.name }}
              </button>
            </div>
          </div>
          }
        </div>
    </mat-tab>
  
    <!-- Tab 3: Tools & Technologies -->
    <mat-tab label="Tools & Technologies">
        <h1>Tools & Technologies</h1>
        <div class="pill-group">
          @for (item of tools; track item.name) {
          <div class="row mb-2">
            <div class="col-lg">
              <button mat-raised-button style="height: 60px;">
                <img
                  matChipAvatar
                  [src]="'/assets/icons/' + item.icon + '.svg'"
                  alt="icon"
                  style="width: 40px; height: auto;"
                />
                {{ item.name }}
              </button>
            </div>
          </div>
          }
        </div>
    </mat-tab>
  </mat-tab-group>

  <section>
    <h1 class="text-center mb-4">Projects</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let project of projects">
        <mat-card class="card h-100" (click)="openBottomSheet(project)" style="cursor: pointer;">
          <img [src]="project.image" class="card-img-top" alt="" />
          <mat-card-content class="card-body">
            <p class="card-text">{{ project.title }}</p>
          </mat-card-content>
          <hr />
          <div class="tech-stack px-3 pb-3" style="height: 40px;">
            <img *ngFor="let tech of project.techStack" [src]="'assets/icons/' + tech + '.svg'" [alt]="tech"
              class="me-2"  />
          </div>
        </mat-card>
      </div>
    </div>
  </section>

</div>
<router-outlet />