<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="profile">
        <img src="assets/images/profile-photo.jpeg" alt="">
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="title">
        <h1>Ivonne Nabangala</h1>
        <h2>Software Developer</h2>
      </div>
      <div class="social-links">
        <a href="mailto:ivonnenabangala@gmail.com" target="_blank">
          <mat-icon>
            <img src="/assets/icons/gmail.svg" alt="Email" matTooltip="Email">
          </mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/ivonne-nabangala/" target="_blank">
          <mat-icon>
            <img src="/assets/icons/linkedin.svg" alt="Email" matTooltip="LinkedIn">
          </mat-icon>
        </a>
        <a href="https://github.com/ivonnenabangala" target="_blank">
          <mat-icon>
            <img src="/assets/icons/github-light.svg" alt="Email" matTooltip="Github">
          </mat-icon>
        </a>
        <a href="https://x.com/I_nabangala" target="_blank">
          <mat-icon>
            <img src="/assets/icons/x-light.svg" alt="Email" matTooltip="X">
          </mat-icon>
        </a>
      </div>
    </div>
  </div>
</main>

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>
          I am a passionate software developer driven by a career objective of developing secure, 
          efficient, presentable, and user-friendly software using reliable technologies. 
          I embrace continuous learning, and writing clean and maintainable code.
          I have skills in developing applications using the listed programming languages and technologies.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col">
            <a href="https://drive.google.com/uc?export=download&id=1VH_1pFvntlCk-c32GDuiCu3zknaJttiF" target="_blank" download>
              <button mat-raised-button style="height: 60px;">Download CV</button>
            </a>
            </div>
            <div class="col">
              <a href="https://drive.google.com/uc?export=download&id=1P7xePbkN22-pLJmlsIZNJ1qiMf9aN1y2" target="_blank" download>
              <button mat-raised-button style="height: 60px;">Download Resume</button>
              </a>
            </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<div class="container body">
<section>
    <h1>Languages & Frameworks</h1>
    <div class="pill-group">
      @for (item of languages; track item.name) {
        <div class="row">
          <div class="col-lg">
            <button mat-raised-button style="height: 60px;">
              <img matChipAvatar [src]="'/assets/icons/' + item.icon + '.svg'" alt="icon" style="width: 40px; height:auto;"/>
                {{item.name}}
            </button>
          </div>
        </div>
      }
    </div>
  
  </section>
  <section>
    <h1>Tools & Technologies</h1>
    <div class="pill-group">
      @for (item of tools; track item.name) {
        <div class="row">
          <div class="col-lg">
            <button mat-raised-button style="height: 60px;">
              <img matChipAvatar [src]="'/assets/icons/' + item.icon + '.svg'" alt="icon" style="width: 40px; height:auto;"/>
                {{item.name}}
            </button>
          </div>
        </div>
      }
    </div>
  </section>
  <section>
    <div class="projects-wrapper">
      <h1 style="text-align: center;">Projects</h1>
      <div class="container" style="text-align: center;">
        <div class="row">
          <div class="col-sm-4">
            <div>
              <a href="https://viutravel.com" target="_blank" style="text-decoration: none;">
                <mat-card>
                  <img src="assets/images/viutravel.png" alt="">
                  <mat-card-content>
                    <p>Viutravel web app</p>
                  </mat-card-content>
                </mat-card>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <a href="https://stmonicasgirls.com" target="_blank" style="text-decoration: none;">
                <mat-card>
                  <img src="assets/images/smghs.png" alt="">
                  <mat-card-content>
                    <p>School website</p>
                  </mat-card-content>
                </mat-card>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <a href="https://bulk.nitext.co.ke" target="_blank" style="text-decoration: none;">
                <mat-card>
                  <img src="assets/images/nitext.png" alt="">
                  <mat-card-content>
                    <p>Nitext web app</p>
                  </mat-card-content>
                </mat-card>
              </a>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
<router-outlet />
